* {
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #e74c3c;
}
.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  color: #fff;
}

input {
  background: #fff;
  color: #000;
  line-height: 1.7rem;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.login-btn {
  margin: 2rem 0;
  padding: 0.5rem 5rem;
  display: block;
  background: transparent;
  color: #fff;
  border: 0.1rem #fff solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.login-btn:hover {
  background: white;
  color: #e74c3c;
}

h3 {
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
}
